/* css chequeado */
/* Compartido por los dos html*/
html{
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* index.html */

.index-body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    color: #fff;
    background-color: rgb(0, 153, 255);
    padding: 15px 20px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
}

footer {
    border-top: 1px solid #ccc;
    border-bottom: none;
    text-align: center;
    font-size: 0.8em;
    padding: 20px;
    margin-top: auto;
}

section {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    flex-grow: 1;
}

/* NAV */

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    font-size: 0.9em;
}

.logo {
    font-weight: bold;
    font-size: 1.4em;
}

.logo span {
    font-size: 0.7em;
}

.search-form input {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 0.9em;
    width: 150px;
}

.search-form button {
    padding: 4px 8px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9em;
}

/* LISTADO DE ESTUDIANTES */

.student-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    list-style-type: none;
    padding: 0;
}

.student-list li {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 10px 10px 3px rgba(0,0,0,0.1);
    transition: all 0.4s ease;
    transform-origin: center;
    overflow: hidden;
}

.student-list img {
    width: 180px;
    height: 250px;
    margin-bottom: 8px;
}

.student-list div {
    color: #0056b3;
    font-size: 1.1em;
    font-weight: 500;
}

.student-list li:hover {
    background-color: #99c5dd;
    transform: scale(1.1) rotate(2deg);
}

.student-list li img,
.student-list li div {
    transition: all 0.4s ease;
}

.student-list li:hover img,
.student-list li:hover div {
    transform: scale(0.95) rotate(2deg);
}

/* perfil.html */

.wrapper {
    display: flex;
    flex-direction: row;
    justify-self: center;
    max-width: 900px;
    gap: 10px;
    padding: 10px;
}

picture{
    width: 18%;
}
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
    border-top-left-radius: 60px;
}

.profile-container {
    background-color: white;
    border: 2px solid black;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    flex: 1;
}

.name {
    font-size: 1.3rem;
    color: orange;
    font-weight: bold;
}

.description {
    font-family: Georgia, serif;
    font-style: italic;
    margin: 10px 0;
}

.data {
    display: flex;
    font-size: 0.8rem;
    margin: 4px 0;
}
.mail {
  display: inline-block;
}

.label {
    width: 290px;
    font-weight: bold;
    flex-shrink: 0;
}

a {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: red;
}

.profile-container p{
    font-size: 1rem;
}


/* Dispositivos moviles (320px — 480px) */
@media (min-width: 320px) and (max-width: 480px) {
    .student-list {
        grid-template-columns: 1fr;
    }
    
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .search-form {
        margin-top: 10px;
        width: 100%;
    }
    
    .search-form input {
        width: 100%;
    }
    footer{
        height: 80px;
        margin-bottom: 20px;
    }
    picture{
        width: 30%;
    }
    .data{
        font-size: 0.6rem;
    }
    .label{
        width: 100px;
        height: 20px;
    }
    .profile-container p{
        font-size: 0.7rem;
    }
}

/* iPads, tablets (481px — 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .student-list {
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        height: 200px;
    }
    .profile-container{
        width: 80%;
    }
    .label{
        width: 130px;
    }
    .profile-container p{
        font-size: 0.9rem;
    }
    .image-container{
        width: 150px;
    }
}

/* Pantallas pequeñas, portátiles (769px — 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .student-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* Pantallas grandes, escritorios (1025px — 1200px) */
@media (min-width: 1025px) {
    .student-list {
        grid-template-columns: repeat(4, 1fr);
    }
}